:root {
    --CURIOS_BLUE: #299ad0;
    --TURMERIC_YELLOW: #d0b747;
    --AQUA_GREEN: #05d993;
    --DEBIAN_RED: #d70e48;
}

body {
    margin: 0;
    padding: 0;
}

.menu, .menuHead {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.MainMenu {
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0%;
    border-radius: 0%;
    font-size: 1.3em;
    border-right: 5px solid var(--level0);
}

.selected {
    background-color: var(--DEBIAN_RED) !important;
}

.card * {
    margin: 0px !important;
}

.card pre {
    overflow-y: scroll;
    height: 100%;
}

.card pre::-webkit-scrollbar-track {
    display: none;
}

.card pre::-webkit-scrollbar-thumb {
    background: var(--DEBIAN_RED);
}

.card pre::-webkit-scrollbar-thumb:hover {
    filter: brightness(85%);
}

.cardTabs {
    height: 100%;
    background-color: var(--level1);
    margin: 0%;
    border-radius: 10px 0px 0px 10px;
    border-right: 2px solid var(--DEBIAN_RED);
}

.processCard {
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}

.processCard .graph {
    width: 100%;
    height: 100%;
}

.processCard h2 {
    width: 100%;
    text-align: center;
    background-color: var(--DEBIAN_RED);
    height: 1em;
}

.running {
    background-color: var(--AQUA_GREEN) !important;
}

.canvasjs-chart-credit {
    display: none !important;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.restarting {
    animation: logo-spin infinite 2s linear;
}
  
/* @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
} */